[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "lib/skyui"]
	path = lib/skyui
	url = https://github.com/schlangster/skyui.git
[submodule "lib/commonlibvr"]
	path = lib/commonlibvr
	url = https://github.com/alandtse/CommonLibVR.git
