[submodule "extern/commonlibsse"]
	path = extern/commonlibsse
	url = https://github.com/powerof3/CommonLibSSE.git
	shallow = true
[submodule "extern/commonlibvr"]
	path = extern/commonlibvr
	url = https://github.com/alandtse/CommonLibVR.git
	shallow = true
